/* ==========================================================================
   Styles for the sliding window front-page display
   ========================================================================== */

#slide_main { background-image: url("../img/prog_geek.jpg"); }
#slide_about { background-image: url("../img/tech_sci.jpg"); }

.content-cell {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: #000;
}

#scroller {
	background-color:#000;
}
